<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     
      <ion-card-title>Enter your information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"  >ID</ion-label>
        <ion-input [(ngModel)]="id" required ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" > Full name</ion-label>
        <ion-input [(ngModel)]="name" required></ion-input>
       
      </ion-item>
 
    </ion-card-content>
    
  </ion-card>
  <p *ngIf="error" style="color: red;margin-left: 5px;"> {{error}}</p>
  <ion-button expand="full" (click) ='submit()'>Submit</ion-button>
</ion-content>
