<ion-header>
  <ion-toolbar>
    <ion-title>candidate list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="vote(candidate.name)" *ngFor="let candidate of list">
      <ion-avatar slot="start">
        <img src={{candidate.image}}>
      </ion-avatar>
      <ion-label>
       {{candidate.name}} 
       <p>{{candidate.party}}</p>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
